body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:321px;
  top:160px;
  width:550px;
  height:390px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:390px;
}
#u1 {
  position:absolute;
  left:2px;
  top:187px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:412px;
  top:350px;
  width:340px;
  height:30px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:336px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:330px;
  top:415px;
  width:170px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:153px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:170px;
  height:1px;
}
#u5 {
  position:absolute;
  left:660px;
  top:415px;
  width:171px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:154px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:171px;
  height:1px;
}
#u6 {
  position:absolute;
  left:510px;
  top:415px;
  width:145px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:355px;
  top:456px;
  width:300px;
  height:34px;
  color:#CCCCCC;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:475px;
  top:490px;
  width:105px;
  height:16px;
  font-size:13px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:355px;
  top:490px;
  width:130px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:580px;
  top:490px;
  width:54px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:404px;
  top:243px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:496px;
  top:240px;
  width:200px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:0px;
  top:3px;
  width:1290px;
  height:100px;
  font-family:'Berlin Sans FB Normal', 'Berlin Sans FB';
  font-weight:400;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:100px;
}
#u20 {
  position:absolute;
  left:2px;
  top:42px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:3px;
  width:200px;
  height:100px;
  font-family:'Berlin Sans FB Normal', 'Berlin Sans FB';
  font-weight:400;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u22 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1056px;
  top:14px;
  width:47px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#000066;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:1120px;
  top:14px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#000066;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:220px;
  top:50px;
  width:179px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:33px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:1027px;
  top:22px;
  width:10px;
  height:8px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:8px;
  width:188px;
  height:90px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:90px;
}
#u32 {
  position:absolute;
  left:2px;
  top:37px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:995px;
  top:14px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#000066;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:999px;
  top:29px;
  visibility:hidden;
}
#u35_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u35_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:73px;
}
#u36_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:76px;
  height:79px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:78px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:23px;
  width:70px;
  height:30px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:53px;
  width:70px;
  height:20px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:404px;
  top:291px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:495px;
  top:285px;
  width:79px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u47 {
  position:absolute;
  left:584px;
  top:285px;
  width:100px;
  height:30px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:584px;
  top:285px;
  width:100px;
  height:30px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:694px;
  top:299px;
  width:92px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
  color:#0000FF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
