*{
	margin:0;
	padding: 0;
}
body{
	font-family: "微软雅黑";
	font-size: 14px;
	
}
a{
	text-decoration:none;
	color: #fff;
}

ul{
	list-style: none;
	margin:0;
}

#page-wrapper{
	background: #444 url(images/banner.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center; 
	overflow: hidden;
}

header{
	background: rgba(0,0,0,0.4);
}
nav{
	background: transparent;
	height: 50px;
}
nav ul{
	
	float: right;
}
nav ul li{
	display: inline-block;
	line-height: 50px;
	margin-right: 5px;
	width: 80px;
	text-align:center;

}
nav ul li a{
	display: inline-block;
	line-height: 50px;
	height: inherit;
	color: #fff;
}
nav .logo{
	float: left;
	margin-left: 10px;
	padding: 10px;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;   /*字符间距*/
}
.logo a,.inner a{
	color: #fff;
}
.inner a:hover{
	text-shadow: 0px 2px 20px #000;

}
nav ul li:hover{
	 background-color: #eee;
}
.active {
   
    border-bottom:2px solid #fff; 
}


/*广告部分*/
#banner{
	
	/*background: transparent;*/
	height: 700px;
	color: #fff;
}
#banner .inner {
	max-width:300px;        
	text-align: center;   /*文字居中*/
	margin:0 auto;        /*整块居中*/
	position: relative;
	top:160px;
}
/*段落*/
.sub-heading{
	line-height: 30px;
	margin:30px 0;
	font-size: 18px;
	letter-spacing: 1px;
}

#banner .inner h1{
	margin:0;
	font-weight: bold;
	padding:10px 0;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;

}
/*按钮样式*/
button{
	border:none;
	background:#333;
	color: #eee;
	padding: 10px;
}

#banner button{
	margin-top: 20px;
	padding: 14px 40px;
}
/*更多*/
#banner .inner .more{
	
	margin-top: 150px;
}



/*第二部分*/
.green-section{
	background: #089DB0;
	text-align: center; 
	color: #fff;
	padding: 100px 0;
}
.wrapper{
	max-width:1080px;
	margin:0 auto;
}
h2{
	font-size: 30px;
}
/*线条*/
.hr{
	width: 100%;
	margin:20px auto;
	height: 2px;
	
}
.green-section .hr{
	
	background:#078494;
	width: 60%;
}

.green-section .icon-group .icon{
	display: inline-block;
	width: 100px;
	height: 100px;
	background: #0D6F7C;
	transform: rotate(45deg);   /*旋转45*/
	margin:30px;
} 
.icon-group{
	margin-top:60px;
}

/*第三部分*/
.grey-section{
	background: #252F34;
	color:#fff;
}
.grey-section .img-section{
    width: 45%;
}
.img-section a:hover{
	opacity: 0.5;
	 -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;;
}
.img-section img{
	width: 100%;
}

.grey-section .text-section{

	position: relative;
	top:68px;
	left: 50px;
	width: 55%;
	
}
.text-section h2{
	margin-bottom: 20px;
}
.text-section p{
	font-size: 18px;
	letter-spacing: 1px;
}
.text-section .sub-heading{
	font-size: 20px;
	margin-top: 0;
	
}
.text-section a{
    color: #fff;

}
.text-section a:hover{
	  opacity: 0.5;
	  transition: all 0.5s ease-in-out; 
}
.text-section .yuedu a{
	display: block;
	padding:10px;
	width: 78px;
	background: rgb(231,76,60);
	color: #fff;
	margin-top: 40px;
	margin-left: 70%;
	font-size: 14px;
	font-family: "微软雅黑";
}
.text-section .yuedu a:hover{
	background:rgb(253,138,97);

	text-decoration: underline;
	
}
.text-section > *{
	max-width: 90%;
}
.article-preview > div{
	float: left;
	font-size: 0;
}

.article-preview:after{
	content: '';
	display: block;
	clear: both;
}
.article-preview:nth-child(odd){
	background: rgba(255,255,255,0.1);
  
}




.purple-section{
	background: #262149;
	color: #fff;
	padding:80px;
}
.purple-section .hr{
	
	background:#373259;
	width: 60%;
}
.purple-section .heading-wrapper{
    text-align:center;
}
.purple-section a:hover{
    opacity: 0.5;
}
.card{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	

}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}

h3{
	font-size: 24px;
}

.card:first-child{
	background: rgba(0,0,0,0.04);
}
.card:nth-child(2){
	background: rgba(0,0,0,0.08);
}
.card:nth-child(3){
	background: rgba(0,0,0,0.12);
}

.card:nth-child(4){
	background: rgba(0,0,0,0.16);
}
.card:nth-child(5){
	background: rgba(0,0,0,0.20);
}
.card:nth-child(6){
	background: rgba(0,0,0,0.24);
}


/*页脚*/
#footer{
	background: #333;
	color: #fff;
	min-height: 200px;
	text-align: center;
}
 .share-group{
	display: block;
	width: 1080px;
	margin:0 auto;
	padding:50px;

}
.share-group li{
	display:inline-block;
	padding: 10px;
}
.copy{
	padding-bottom: 20px;
}
.mask{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.3);
	display: none;

}
#sidebar{
	position: fixed;
	top: 0;
	bottom: 0;
	right:-300px;
	width: 300px;
	background-color: #333;
	padding:20px 0;
	transition: right 0.5s;
}
#sidebar ul{
	list-style-type: none;
}
#sidebar ul a{

	display: inline-block;
	width: 100%;
	padding: 10px 30px;
}
#sidebar ul a:hover{
	background-color: #444;
}
.back-to-top{
	position: fixed;
	bottom: 30px;
	right: 30px;
}

.article #banner{
	height: 300px;
}
.article  #banner h1{
    border:none;

}
.article #banner .inner{
	top:30px;
}
.content_wrapper{
    width: 1000px;
    margin:0 auto;
}
.article_info{
	color: #888;
	font-size: 14px;
    padding: 15px;
}
.article .content{
	background: #fefefe;
}
article{
	padding-bottom:20px;
	line-height: 2;
	
}