/*公用*/
.comWidth{
	width: 1000px;
	margin:0 auto;
}
.leftArea{
	float: left;
}
.rightArea{
	float: right;
}

/*顶部*/
.topBar{
	height: 31px;
	background:#f7f7f7; 
	line-height: 31px;
}
.collection{
	background: url(images/icon/collection.jpg) left center no-repeat;
}